.lwrbi-component-badge {
    cursor:pointer;
    border: 1px solid #d9d7d5;
    padding: 2px 7px;
    background-color: #ecebea;
    border-radius: 20px;
    font-size: 12px;
}

.lwrbi-component-badge a {
    color: #005fb2 !important;
    text-decoration:none;
}

.lwrbi-component-badge a:hover {
    color: #005fb2 !important;
}

.lwrbi-component-detail {
    position: fixed;
    padding: 10px;
    bottom: 10px;
    right: 1px;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: -4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    z-index: 100002;
    max-width: 400px;
    max-height: 600px;
    overflow-y: auto;
    color:#414042;
    font-size: 1rem;
}

.lwrbi-component-detail a {
    color: #005fb2 !important;
}

.lwrbi-field {
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-wrap: normal;
}

.lwrbi-property-table {
    max-height: 350px;
    overflow-y: auto;
    font-size: 12px;
    border: 1px solid gray;
}

.lwrbi-property-table table {
    table-layout: fixed;
}

.lwrbi-property-table tr {
    padding-left: 3px;
}

.lwrbi-property-table td {
    overflow-wrap: break-word;
 }

.lwrbi-property-table tr:nth-child(even) {
    background: #CCC
}

.lwrbi-color-chip {
    height: 12px;
    width: 20px;
    float: right;
    margin: 1px;
    border: 1px solid gray;
}